In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from datetime import datetime


data = pd.read_csv('housing_price_dataset.csv')
current_year = datetime.now().year
data["Age"] = current_year - data["YearBuilt"]
data_encoded = pd.get_dummies(data, columns=["Neighborhood"], drop_first=True, prefix='N')
data_encoded.head()

,SquareFeet,Bedrooms,Bathrooms,YearBuilt,Price,Age,N_Suburb,N_Urban
0,2126,4,1,1969,215355.283618,54,False,False
1,2459,3,2,1980,195014.221626,43,False,False
2,1860,2,1,1970,306891.012076,53,True,False
3,2294,2,1,1996,206786.787153,27,False,True
4,2130,5,2,2001,272436.239065,22,True,False

In [4]:
X = data_encoded.drop(["Price"], axis=1)
y = data_encoded["Price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

linear_regression = LinearRegression()

linear_regression.fit(X_train_scaled, y_train)

y_pred = linear_regression.predict(X_test_scaled)

mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error on Test Set: {mse:.4f}')

# Perform cross-validation
kf = KFold(n_splits=10, shuffle=True, random_state=0)
cv_scores = cross_val_score(linear_regression, X_train_scaled, y_train, cv=kf, scoring='neg_mean_squared_error')
cv_scores = -1* cv_scores  # Convert to positive values

r2_score = linear_regression.score(X_train_scaled, y_train)
print(f'R-squared Score on Training Set: {r2_score:.4f}')

print(f"cv scores {cv_scores}")
# print(linear_regression.coef_)
# print(linear_regression.intercept_)

Mean Squared Error on Test Set: 2516245224.2971
R-squared Score on Training Set: 0.5701
cv scores [2.45963716e+09 2.39658225e+09 2.54715516e+09 2.48077948e+09
 2.63138835e+09 2.45979149e+09 2.46122782e+09 2.46256286e+09
 2.41406235e+09 2.55002060e+09]